<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>Login</h1>
  <% if (typeof message !== 'undefined') { %>
    <p style="color: red;"><%= message %></p>
  <% } %>
  <form action="/login" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required="Necesitas rellenar este campo"><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required="Necesitas rellenar este campo"><br>
    <button type="submit">Login</button>
  </form>
  <a href="/register">Register</a>
</body>
</html>
