<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>User Page</h1>
  <p>Aqui añadiremos información para usuarios logeados</p>
  <a href="/chat">Chat global
    
  </a>
  
  <form action="/user/logout" method="post">
    <button type="submit">Logout</button>
  </form>
  
</body>
</html>
