<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>User Page</h1>
  <form action="/user/logout" method="post">
    <button type="submit">Logout</button>
  </form>
</body>
</html>
