<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div id="content">
      <h2>Pagina de Inicio de Usuarios no logeados</h2>
      <ul>
        <% items.forEach(function(item) { %>
          <li><%= item %></li>
        <% }); %>
      </ul>
      <a href="/login">Login</a>
    </div>
  </body>
</html>
